Hardware/RFM95-Soil/RFM95W-Soil/node-red-setup.txt
[{"id":"d36fe24b.fb346","type":"mqtt 
in","z":"a7720cd4.d28c5","name":"TTN","topic":"70B3D57ED000123E/devices/0102030405060708/up","qos":"2","broker":"932925b9.5f1b78","x":110.77777099609375,"y":387.3333320617676,"wires":[["8b01fa11.462218"]]},{"id":"19289bc4.bd1344","type":"binary","z":"a7720cd4.d28c5","name":"Binary 
Decoder","pattern":"b16=> p1, b16=>p2, b16=>p3","x":510.0555419921875,"y":386.3333616256714,"wires":[["418e2682.104bc8"]]},{"id":"480eb5ff.b232bc","type":"mqtt 
out","z":"a7720cd4.d28c5","name":"","topic":"GOST/Datastreams(32)/Observations","qos":"2","retain":"","broker":"4e873026.fc342","x":1399.7222900390625,"y":312.888916015625,"wires":[]},{"id":"7a371713.5cb6a8","type":"function","z":"a7720cd4.d28c5","name":"OGCSensorThings","func":"function 
ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ 
pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload, \n        \"phenomenonTime\": 
ISODateString(d)}};","outputs":1,"noerr":0,"x":1059.9445190429688,"y":317,"wires":[["480eb5ff.b232bc"]]},{"id":"8b01fa11.462218","type":"function","z":"a7720cd4.d28c5","name":"Base64 decode","func":"msg.payload = 
JSON.parse(msg.payload)\nnode.log(msg);\nb = Buffer.from(msg.payload.payload, 'base64');\nmsg.payload = b\nreturn 
msg;","outputs":1,"noerr":0,"x":288.7777328491211,"y":387.3333225250244,"wires":[["19289bc4.bd1344"]]},{"id":"418e2682.104bc8","type":"function","z":"a7720cd4.d28c5","name":"demultiplexing values","func":"var p1 = {\"payload\": 
msg.payload.p1};\nvar p2 = {\"payload\": msg.payload.p2};\nvar p3 = {\"payload\": msg.payload.p3};\n\nreturn [p1, p2, 
p3]","outputs":"3","noerr":0,"x":794,"y":369,"wires":[["7a371713.5cb6a8"],["c790477.ea390b8"],["ec3bc13d.ac035"]]},{"id":"c790477.ea390b8","type":"function","z":"a7720cd4.d28c5","name":"OGCSensorThings","func":"function 
ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ 
pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload, \n        \"phenomenonTime\": 
ISODateString(d)}};","outputs":1,"noerr":0,"x":1056,"y":368,"wires":[["906c45a9.7581c8"]]},{"id":"ec3bc13d.ac035","type":"function","z":"a7720cd4.d28c5","name":"OGCSensorThings","func":"function ISODateString(d){\n function 
pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new 
Date();\n\nreturn {\"payload\": {\"result\": msg.payload, \n        \"phenomenonTime\": ISODateString(d)}};","outputs":1,"noerr":0,"x":1052,"y":427,"wires":[["6cf870ac.d0ee8"]]},{"id":"6cf870ac.d0ee8","type":"mqtt 
out","z":"a7720cd4.d28c5","name":"","topic":"GOST/Datastreams(34)/Observations","qos":"2","retain":"","broker":"4e873026.fc342","x":1390,"y":430,"wires":[]},{"id":"906c45a9.7581c8","type":"mqtt 
out","z":"a7720cd4.d28c5","name":"","topic":"GOST/Datastreams(33)/Observations","qos":"2","retain":"","broker":"4e873026.fc342","x":1402,"y":367,"wires":[]},{"id":"932925b9.5f1b78","type":"mqtt-broker","z":"a7720cd4.d28c5","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4e873026.fc342","type":"mqtt-broker","z":"a7720cd4.d28c5","broker":"gost.geodan.nl","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
