Hardware/RFM95-Soil/RFM95W-Soil/node-red-setup.txt
[{"id":"dcb213c9.37b67","type":"mqtt in","z":"b731e807.dc1c08","name":"TTN","topic":"70B3D57ED000123E/devices/0102030405060708/up","qos":"2","broker":"1ba8b16e.e2546f","x":126.89582824707031,"y":379.4444160461426,"wires":[["aaeda78c.6591d8"]]},{"id":"26d945ba.6a33aa","type":"binary","z":"b731e807.dc1c08","name":"Binary Decoder","pattern":"b16=> p1, b16=>p2, b16=>p3","x":526.1735992431641,"y":378.4444456100464,"wires":[["2348e286.82ad3e"]]},{"id":"e88cd73e.1312c8","type":"mqtt out","z":"b731e807.dc1c08","name":"","topic":"GOST/Datastreams(32)/Observations","qos":"2","retain":"","broker":"9bdf058e.854968","x":1415.840347290039,"y":305,"wires":[]},{"id":"c76ece01.d4b96","type":"function","z":"b731e807.dc1c08","name":"OGCSensorThings","func":"function ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload, \n        \"phenomenonTime\": ISODateString(d)}};","outputs":1,"noerr":0,"x":1076.0625762939453,"y":309.111083984375,"wires":[["e88cd73e.1312c8"]]},{"id":"aaeda78c.6591d8","type":"function","z":"b731e807.dc1c08","name":"Base64 decode","func":"msg.payload = JSON.parse(msg.payload)\nnode.log(msg);\nb = Buffer(msg.payload.payload, 'base64');\nmsg.payload = b\nreturn msg;","outputs":1,"noerr":0,"x":304.89579010009766,"y":379.4444065093994,"wires":[["26d945ba.6a33aa"]]},{"id":"2348e286.82ad3e","type":"function","z":"b731e807.dc1c08","name":"demultiplexing values","func":"var p1 = {\"payload\": msg.payload.p1};\nvar p2 = {\"payload\": msg.payload.p2};\nvar p3 = {\"payload\": msg.payload.p3};\n\nreturn [p1, p2, p3]","outputs":"3","noerr":0,"x":810.1180572509766,"y":361.111083984375,"wires":[["c76ece01.d4b96"],["27436b20.6424f4"],["4b348e7e.a2785"]]},{"id":"27436b20.6424f4","type":"function","z":"b731e807.dc1c08","name":"OGCSensorThings","func":"function ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload, \n        \"phenomenonTime\": ISODateString(d)}};","outputs":1,"noerr":0,"x":1072.1180572509766,"y":360.111083984375,"wires":[["b30fddc1.c9dc3"]]},{"id":"4b348e7e.a2785","type":"function","z":"b731e807.dc1c08","name":"OGCSensorThings","func":"function ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload, \n        \"phenomenonTime\": ISODateString(d)}};","outputs":1,"noerr":0,"x":1068.1180572509766,"y":419.111083984375,"wires":[["1dcf09f8.d321c6"]]},{"id":"1dcf09f8.d321c6","type":"mqtt out","z":"b731e807.dc1c08","name":"","topic":"GOST/Datastreams(34)/Observations","qos":"2","retain":"","broker":"9bdf058e.854968","x":1406.1180572509766,"y":422.111083984375,"wires":[]},{"id":"b30fddc1.c9dc3","type":"mqtt out","z":"b731e807.dc1c08","name":"","topic":"GOST/Datastreams(33)/Observations","qos":"2","retain":"","broker":"9bdf058e.854968","x":1418.1180572509766,"y":359.111083984375,"wires":[]},{"id":"1ba8b16e.e2546f","type":"mqtt-broker","z":"b731e807.dc1c08","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9bdf058e.854968","type":"mqtt-broker","z":"b731e807.dc1c08","broker":"gost.geodan.nl","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
